@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600&amp;subset=latin-ext');
@import "~normalize.css";

@import "./variables.scss";



*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    background-color: white;
    width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
}
  
body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
    font-family: $glassFontFamily;
    font-weight: 300;
    font-size: 14px;
    text-transform: none;
    letter-spacing: 0;
    line-height: 1.28581;
}
  
p {
    padding: 0.5em 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin: 0 0 10px;
    padding: 0;
}

h3 {
    line-height: 25px;
    font-size: 22px;
}

a, a:hover, a:active, a:visited {
    color: $glassAccentColor;
}

a, a:visited {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

.md-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.md-running-text {
    padding: 8px 0;
    font-size: 16px;
    line-height: 1.5;
  
    ul, ol {
      margin: 10px 0;
      padding-left: 30px;
    }
  
    ul li:not(:last-child), ol li:not(:last-child) {
      margin-bottom: 5px;
    }
}

.md-running-text.md-small {
    font-size: 14px;
}

.md-full-width {
    width: 100%;
}

/*MEDIA QUERIES*/

html {
    width: 350px;
}

@media (min-width: 576px) {
    html {
        width: 540px;
    }
}

@media (min-width: 768px) {
    html {
        width: 720px;
    }
}
