$glassMainColor: #222;
$glassAccentColor: #2B95D6;
$glassSubtleColor: transparentize($glassMainColor, 0.3);
$glassFontFamily: 'Nunito Sans', sans-serif;

$glassBorderColor: #dcdcdc;
$glassInputPadding: 8px 16px;

$glassIntentSuccess: #197278;
$glassIntentDanger: #c44536;

$glassDarkAccentColor: #edddd4;
